<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <commands>
      <command name="fridayai:generate" type="SitecoreHackathon.Commands.FridayAI, SitecoreHackathon"/>
    </commands>
  </sitecore>
</configuration>